ENVIRONMENT=
DB_SOURCE=
HTTP_SERVER_ADDRESS=
MONOLITH_URL=
API_KEY=

TOKEN_SYMMETRIC_KEY=
ACCESS_TOKEN_DURATION=
REFRESH_TOKEN_DURATION=

EMAIL_SMTP_HOST=
EMAIL_SMTP_PORT=
EMAIL_SENDER_NAME=
EMAIL_AUTH_USERNAME=
EMAIL_AUTH_PASSWORD=

GOOGLE_AUTH_CLIENT_ID=
GOOGLE_AUTH_CLIENT_SECRET=
GOOGLE_AUTH_REDIRECT_URL=

FACEBOOK_AUTH_CLIENT_ID=
FACEBOOK_AUTH_CLIENT_SECRET=
FACEBOOK_AUTH_REDIRECT_URL=

MICROSOFT_AUTH_CLIENT_ID=
MICROSOFT_AUTH_CLIENT_SECRET=
MICROSOFT_AUTH_REDIRECT_URL=
MICROSOFT_AUTH_TENANT_ID=


PRIVY_CHANNEL_ID=
PRIVY_API_KEY=
PRIVY_SECRET_KEY=
PRIVY_URL=

PRIVY_AUTH_CLIENT_ID=
PRIVY_AUTH_CLIENT_SECRET=
PRIVY_AUTH_URL=
PRIVY_AUTH_REDIRECT_URL=
PRIVY_AUTH_TOKEN_EXCHANGE_URL=
PRIVY_AUTH_GET_USER_URL=
