ENVIRONMENT=development
DB_SOURCE=?charset=utf8mb4&parseTime=True&loc=Local
HTTP_SERVER_ADDRESS=

TOKEN_SYMMETRIC_KEY=
ACCESS_TOKEN_DURATION=
REFRESH_TOKEN_DURATION=

EMAIL_SMTP_HOST=sandbox.smtp.mailtrap.io
EMAIL_SMTP_PORT=587
EMAIL_SENDER_NAME="Dolphin <dolphin@62teknologi.com>"
EMAIL_AUTH_USERNAME=
EMAIL_AUTH_PASSWORD=

GOOGLE_AUTH_CLIENT_ID=
GOOGLE_AUTH_CLIENT_SECRET=
GOOGLE_AUTH_REDIRECT_URL=
GOOGLE_AUTH_REDIRECT_TO_CLIENT=

FACEBOOK_AUTH_CLIENT_ID=
FACEBOOK_AUTH_CLIENT_SECRET=
FACEBOOK_AUTH_REDIRECT_URL=
FACEBOOK_AUTH_REDIRECT_TO_CLIENT=

MICROSOFT_AUTH_CLIENT_ID=
MICROSOFT_AUTH_CLIENT_SECRET=
MICROSOFT_AUTH_REDIRECT_URL=
MICROSOFT_AUTH_TENANT_ID=
MICROSOFT_AUTH_REDIRECT_TO_CLIENT=
